html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: #fafafa;
}
/*顶部状态栏*/
.contact {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 40px;
    line-height: 40px;
}
.contact p {
    margin: auto 0;
    padding-left: 27px;
    font-size: 1.4rem;
    color: #29B078;
}
.app {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 15px;
}
.img {
    float: left;
    background: url("../pic/chat.png") no-repeat;
}
#wechat {
    margin-right: 24px;
    width: 25px;
    height: 24px;
    background-position: 0 0;
}
#qq {
    margin-right: 24px;
    width: 25px;
    height: 24px;
    background-position: -25px 0;
}
#weibo {
    margin-right: 12px;
    width: 25px;
    height: 24px;
    background-position: 0 -24px;
}
/*响应式导航栏*/
nav {
    /*height: 6rem;*/
    background-color: #29b078;
}
i {
    width: 20px;
    height: 20px;
    font-size: 3rem;
    color: black;
    background-color: white;
}
.navbar-toggler {
    border-color: white;
    color: black;
    background-color: white;
}
#logo {
    margin-left: 12px;
    transform: scale(0.7);
}
#collapsibleNavbar {
    flex-direction: row-reverse;
}
.nav-item {
    margin: 0 1.5rem;
    padding: 0 1.5rem;
    height: 8rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 8rem;
}
/*面包屑导航*/
.row-bnav {
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: solid 1px #D0D6D9;
    max-width: 1200px;
    height: 8rem;
    line-height: 8rem;
    font-size: 1.6rem;
    color: #333;
}
.row-bnav :nth-child(2) {
    color: #29b078;
}
/*页脚*/
.footer {
    font-size: 1.6rem;
    color: #fff;
    background-color: #26A26F;
}
.footer-left,
.footer-middle,
.footer-right {
    padding: 0;
}
.row-footer {
    padding: 35px 0;
    margin: 0 auto;
    max-width: 1200px;
}
.footer-left div {
    font-size: 1.6rem;
    color: #fff;
}
.middle-middle {
    margin: 20px 0;
}
.left-bottom {
    display: flex;
    margin-top: 64px;
}
.left-bottom p {
    margin-bottom: 0;
}
.cont {
    margin: 0 10px;
    padding: 0 10px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}
.footer-right div {
    text-align: center;
}
.right-name {
    margin-bottom: 10px;
}
.row-bottom {
    border-top: solid 1px #32C086;
    background-color: #26A26F;
}
.copyright {
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.4rem;
    color: #fff;
}
@media all and (min-width: 576px) {
    .nav-item:hover {
        border-bottom: 4px solid #fff;
    }
}
@media all and (max-width: 576px) {
    #weibo {
        margin-right: 0;
    }
    #collapsibleNavbar {
        z-index: 99;
    }
    .nav-item {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 6rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 6rem;
    }
    .nav-item:hover {
        background-color: #5fc0cd;
    }
    .row-footer {
        text-align: center;
    }
    .footer-left {
        margin-bottom: 60px;
    }
    .left-bottom {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
@media all and (max-width: 768px) {
    .contact p {
        display: none;
    }
    .footer-right {
        margin-top: 60px;
    }
}