
.pic-head {
    width: 100%;
}
.row-bnav {
    border: none;
}
.indu-content {
    display: flex;
    margin: 0 auto;
    padding: 0 15px 200px 15px;
    max-width: 1200px;
}
.indu-nav {
    list-style: none;
    border: 1px solid #E6E6E6;
    padding: 0;
    width: 200px;
    height: 480px;
    background-color: #fff;
}
.indu-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 1.4rem;
    line-height: 60px;
    padding: 0;
    border-bottom: 1px solid #E6E6E6;
}
.indu-sub1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 1.4rem;
    line-height: 60px;
    padding: 0;
}
.subnav-content:hover {
    color: #F9A372;
}
.subnav-content:hover .circle {
    background-color: #F9A372;
}
.circle {
    display: inline-block;
    /*margin-right: 8px;*/
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #F9A372;
}
.right {
    margin-left: 40px;
    padding-bottom: 6rem;
    border: 1px solid #E6E6E6;
    background-color: #fff;
}
.pic-content {
    width: 230px;
    height: 177px;
    margin: 2px;
}
.info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}
.info img {
    flex-shrink: 0;
}
.info p {
    margin: 40px 40px 40px 0;
    font-size: 1.4rem;
    color: #999;
}
.des {
    margin: 40px;
    font-size: 1.4rem;
    color: #999999;
}
.des p {
    text-indent: 2em;
}
@media all and (max-width: 576px) {
    .info {
        display: flex;
        flex-direction: column;
    }
    .info p {
        margin: 0 40px 40px 40px;
    }
}
@media all and (max-width: 768px) {
    .indu-content {
        display: block;
    }
    .indu-nav {
        width: 100%;
    }
    .indu-sub {
        width: 100%;
    }
    .indu-sub1 {
        width: 100%;
    }
    .right {
        margin-left: 0;
    }
}
