html {
    font-size: 625%;
}
body {
    margin: 0;
}
header {
    position: relative;
    height: .44rem;
    background-color: #29bde0;
}
.img {
    background: url("../pic/task7.png") no-repeat;
}
#menu {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-position: -10px -72px;
    zoom: 0.5;
}
#close {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -18px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    background-position: -69px -72px;
    zoom: 0.5;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -10px;
    font-size: .17rem;
    color: #fff;
}
.tip {
    position: relative;
    padding-left: .3rem;
    line-height: .4rem;
    font-size: 0;
    background-color: #b9e9f5;
}
.tip p {
    margin: 0;
    font-size: .13rem;
    color: #464646;
}
.play {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -40px;
    margin-right: 15px;
    width: 52px;
    height: 52px;
    font-size: 0;
    zoom: 0.5;
}
.container-fluid {
    position: absolute;
    top: .84rem;
    bottom: .8rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    background-color: #29bde0;
}
.instruction {
    padding-left: .6rem;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    border-right: 5px solid transparent;
}
.instruction p {
    margin: 0 0 .2rem 0;
    font-size: .12rem;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: .1rem 0;
}
.box {
    width: 22%;
}
.wrap {
    border: 2px solid #fff;
}
.sub div:first-child {
    padding: 35% 0;
    line-height: 0;
    font-size: .15rem;
    text-align: center;
    background-color: #f5c97b;
}
.sub div:last-child {
    padding: 15% 0;
    line-height: 0;
    font-size: .12rem;
    text-align: center;
    background-color: #83b09a;
}
.sub-down {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}
.box:hover .sub-down {
    visibility: visible;
}
.down {
    margin: .1rem 0;
    width: 20%;
    padding: 10% 0;
    background: url("../pic/down.png") no-repeat;
    background-size: 200%;
}
.sub-down div:nth-child(1) {
    background-position: 0 0;
}
.sub-down div:nth-child(2) {
    background-position: 100% 0;
}
.sub-down div:nth-child(3) {
    background-position: 0 100%;
}
.sub-down div:nth-child(4) {
    background-position: 100% 100%;
}
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: .8rem;
    font-size: 0;
    background-color: #29bde0;
}
.post {
    width: 80%;
    height: .44rem;
    border: none;
    font-size: .2rem;
    background-color: #fbb435;
}
.post a {
    color: #fff;
}